.spacer {
  flex: 1 0 auto;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 60px;
  transition: width 0.2s;

  &:hover {
    width: 200px;
    transition-timing-function: ease-in-out;

    .slide_menu {
      display: block;
      margin-left: 10px;
    }
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  background: #fff;
  box-shadow: 2px 2px 2px #ccc;
  color: #000;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo-title {
  padding: 0.2rem;
  font-size: 18px;
  top: 15px;
  position: absolute;
  color: rgb(153, 102, 8);
}

.active {
  background: rgb(158, 158, 245);
  border-right: 10px solid #00f;
}
.slide_menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  .sidenav {
    width: 200px;
  }
  .slide_menu {
    display: block;
  }
  .logo-title {
    font-size: 12px;
    padding-left: 14px;
  }
  .logo_image {
    width: 24px;
  }
}
