.spacer {
	flex: 1 0 auto;
}

button {
	margin: 0 10px;
}

.logo-title {
	padding: 0.2rem;
	font-size: 12px;
	position: fixed;
}

mat-toolbar {
	box-shadow: 2px 2px 2px #ccc;
}

main {
	padding: 20px 0;
}
